.search_box {
  width: 100%;
  max-width: 325px;
}
.action_button {
  color: #1677ff;
  cursor: pointer;
}

.issues_modal-item-input {
  padding: 24px 0;
}

.issues_modal-input {
  display: block;
}

.issues_modal-input-img {
  width: 24px;
  height: 24px;
}

.text-highlight {
  color: #1677ff;
}
